:root {
    --main-clr: #191717;
    --secund-clr: #f1efef;
    --third-clr: #ccc8aa;
    --text-clr: #7d7c7c;
    --positive-clr: #5cb85c;
    --negative-clr: #ed2939;
}

$main-gap: 10px;
$line-height: 1.6;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
