<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>test</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Tilt+Prism&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/all.min.css" />
        <link rel="stylesheet" href="css/stars.css" />
    </head>
    <body>
        <header>
            <nav class="">
                <div class="log">
                    <h1>YelpCamp</h1>
                </div>
                <div class="links-container">
                    <div class="menu" id="menuBtn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="links" id="links">
                        <div>
                            <li>
                                <a href="/">
                                    <i class="fa icon fa-home" aria-hidden="true"></i
                                    >home</a
                                >
                            </li>
                            <li>
                                <a href="/campgrounds" class="active"
                                    >
                                    <i class="fa-solid icon fa-campground"></i> campgrounds</a
                                >
                            </li>
                            <li>
                                <a href="/campgrounds/new">
                                    <i
                                        class="fa fa-plus-square icon"
                                        aria-hidden="true"
                                    ></i>
                                    new campground</a
                                >
                            </li>
                        </div>
                        <div>
                            <li class="login"><a href="/login"> <a href="#">
                                <i class="fa icon fa-sign-in" aria-hidden="true"></i>  login</a></li>
                            <li class="login">
                                <a href="/register"> 
                                    <i class="fa icon fa-sign-in" aria-hidden="true"></i> 
                                    register</a>
                            </li>
                            <li class="login"><a href="/logout"> <i class=" fa icon fa-sign-out" aria-hidden="true"></i> logout</a></li>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- <header>
            <nav class="container">
                <div class="log">
                    <h1>YelpCamp</h1>
                </div>
                <div class="links-container">
                    <div class="menu" id="menuBtn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="links" id="links">
                        <div></div>
                        <div>
                            <li><a href="/">home</a></li>
                            <li><a href="/campgrounds">campgrounds</a></li>

                            <li class="login"><a href="/login"> login</a></li>
                            <li class="login">
                                <a href="/register"> register</a>
                            </li>
                            <li class="login"><a href="/logout"> logout</a></li>
                        </div>
                    </ul>
                </div>
            </nav>
        </header> -->
        <!-- <main  class="home">
            <div class="box container">
                <h2>YelpCamp</h2>
                <h3>Welcome To YelpCamp !</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Amet inventore placeat accusamus.
                </p>
                <button class="btn">View Campgrounds</button>
            </div>
        </main> -->
        <main class="container">
            <!-- <section class="campgrounds">
                <h2 class="section-title">
                    All campgrounds
                    <div class="shadow">Enjoy</div>
                </h2>
                <div class="campground-container">
                    <div class="slider">
                        <div class="slide">
                            <img
                                src="Tent_camping_along_the_Sulayr_trail_in_La_Taha,_Sierra_Nevada_National_Park_(DSCF5147).jpg"
                                alt=""
                            />
                        </div>

                        <div class="slide">
                            <img src="test-img.jpg" alt="" />
                        </div>

                        <button class="slider-btn btn-next">
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                        <button class="slider-btn btn-prev">
                            <i class="fa-solid fa-angle-left"></i>
                        </button>
                    </div>
                    <div class="text">
                        <h5 class="title">Yalla campground</h5>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Inventore, iste earum cupiditate qui animi
                            illo. Harum repellendus a nobis quod esse quaerat ad
                            asperiores quidem quam ab.
                        </p>
                        <p class="location">
                            <small>Omdurman, Suban </small>
                        </p>
                        <div class="btn">
                            <a href="/"> view Yella campground </a>
                        </div>
                    </div>
                </div>
                <div class="campground-container">
                    <div class="image">
                        <img src="test-img.jpg" />
                    </div>
                    <div class="text">
                        <h5 class="title">Yalla campground</h5>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Inventore, iste earum cupiditate qui animi
                            illo. Harum repellendus a nobis quod esse quaerat ad
                            asperiores quidem quam ab. Expedita, et ad!
                        </p>
                        <p class="location">
                            <small>Omdurman, Suban </small>
                        </p>
                        <div class="btn">
                            <a href="/"> view Yella campground </a>
                        </div>
                    </div>
                </div>
                <div class="campground-container">
                    <div class="image">
                        <img src="test-img.jpg" />
                    </div>
                    <div class="text">
                        <h5 class="title">Yalla campground</h5>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Inventore, iste earum cupiditate qui animi
                            illo. Harum repellendus a nobis quod esse quaerat ad
                            asperiores quidem quam ab. Expedita, et ad!
                        </p>
                        <p class="location">
                            <small>Omdurman, Suban </small>
                        </p>
                        <div class="btn">
                            <a href="/"> view Yella campground </a>
                        </div>
                    </div>
                </div>
                <div class="campground-container">
                    <div class="image">
                        <img src="test-img.jpg" />
                    </div>
                    <div class="text">
                        <h5 class="title">Yalla campground</h5>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Inventore, iste earum cupiditate qui animi
                            illo. Harum repellendus a nobis quod esse quaerat ad
                            asperiores quidem quam ab. Expedita, et ad!
                        </p>
                        <p class="location">
                            <small>Omdurman, Suban </small>
                        </p>
                        <div class="btn">
                            <a href="/"> view Yella campground </a>
                        </div>
                    </div>
                </div>
                <script src="js/slider.js"></script>
            </section> -->
            <!-- <section class="flash success" id="flash">
                successfuly doing some
                <button id="cancelFlash">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </section>
            <section class="flash error" id="flash">
                can not doing someting
                <button id="cancelFlash">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </section> -->
            <!-- <section class="new">
                <h2 class="section-title">Add New Campground</h2>
                <form action="" method="POST" class="form-style" id="form">
                    <div class="field success">
                        <label for="title">title</label>
                        <input
                            id="title"
                            type="text"
                            name="campground[title]"
                        />
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> it is look good </small>
                    </div>
                    <div class="field fail">
                        <label for="location">location</label>
                        <input
                            id="location"
                            type="text"
                            name="campground[location]"
                        />
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> error </small>
                    </div>
                    <div class="field">
                        <label for="imgUrl">image</label>
                        <input
                            id="imgUrl"
                            type="text"
                            name="campground[image]"
                        />
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> it is look good </small>
                    </div>
                    <div class="field priceField">
                        <label for="price">price</label>
                        <input
                            id="location"
                            type="number"
                            name="campground[price]"
                        />
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> it is look good </small>
                    </div>
                    <div class="field">
                        <label for="description">description</label>
                        <textarea
                            id="description"
                            type="text"
                            name="campground[description]"
                            rows="3"
                        ></textarea>
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> it is look good </small>
                    </div>
                    <button class="btn">Add Campground</button>
                </form>
            </section> -->
            <!-- <section class="edit">
                <h2 class="section-title">Edit Campground</h2>
                <form action="/campgrounds" method="POST" class="form-style">
                    <div class="field">
                        <label for="title">title</label>
                        <input
                            id="title"
                            type="text"
                            name="campground[title]"
                        />
                    </div>
                    <div class="field">
                        <label for="location">location</label>
                        <input
                            id="location"
                            type="text"
                            name="campground[location]"
                        />
                    </div>
                    <div class="field">
                        <label for="imgUrl">image Url</label>
                        <input
                            id="imgUrl"
                            type="text"
                            name="campground[image]"
                        />
                    </div>
                    <div class="field">
                        <label for="price">price</label>
                        <div class="price">
                            <input
                                id="location"
                                type="number"
                                name="campground[price]"
                            />
                        </div>
                    </div>
                    <div class="field">
                        <label for="description">description</label>
                        <textarea
                            id="description"
                            type="text"
                            name="campground[description]"
                            rows="3"
                        ></textarea>
                    </div>
                    <button class="btn">Update Campground</button>
                    <div class="btn">
                        <a href="/campgrounds"> Cancel</a>
                    </div>
                </form>
            </section> -->
            <!-- <section class="show">
                <div class="campground-container">
                    <div class="slider">
                        <div class="slide">
                            <img
                                src="Tent_camping_along_the_Sulayr_trail_in_La_Taha,_Sierra_Nevada_National_Park_(DSCF5147).jpg"
                                alt=""
                            />
                        </div>

                        <div class="slide">
                            <img src="test-img.jpg" alt="" />
                        </div>

                        <button class="slider-btn btn-next">></button>
                        <button class="slider-btn btn-prev"><</button>
                    </div>
                    <div class="text">
                        <div class="info">
                            <h2 class="title">Campground title</h2>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Molestiae, odit quo earum
                                blanditiis eos aperiam beatae? Placeat sequi
                                voluptatem enim at commodi ducimus nobis
                                praesentium ullam iste. Commodi, rem minima.
                            </p>
                        </div>
                        <div class="location">Omdurman , Sudan</div>
                        <div class="author">Submitted BY Mo Alfadel</div>
                        <div class="price">$12/night</div>
                        <div class="links">
                            <div class="btn danger">delete</div>
                            <div class="btn">edit</div>
                        </div>
                    </div>
                </div>
                <div class="review-container">
                    <form action="" class="form-style add-review">
                        <h3>leave Review</h3>
                        <div class="field rating">
                            <label for="rating">Rating</label>
                            <input
                                type="range"
                                name="review[range]"
                                id="rating"
                                min="0"
                                max="5"
                                step="1"
                            />
                        </div>
                        <div class="field">
                            <label for="body">Review</label>
                            <textarea
                                name="review[body]"
                                id="body"
                                cols="30"
                                rows="3"
                            ></textarea>
                        </div>
                        <button class="btn positive">add</button>
                    </form>
                    <div class="reviews-display">
                        <h3 class="section-title">
                            Reviews
                            <div class="shadow">interact</div>
                        </h3>
                        <div class="review-box">
                            <h4 class="author">Mohammed_Alfadel</h4>
                            <p class="starability-result" data-rating="2">
                                Rated :2 stars
                            </p>
                            <p class="body">Review : <span> baadd</span></p>
                        </div>
                    </div>
                </div>
                <script src="js/slider.js"></script>
            </section> -->
            <!-- <section class="sign login">
                <h2 class="section-title">
                    Login
                    <div class="shadow">Sign in</div>
                </h2>
                <form
                    action="/login"
                    method="POST"
                    class="form-style"
                    id="form"
                    novalidate
                >
                    <div class="field">
                        <label for="username">username</label>
                        <input
                            id="username"
                            type="text"
                            name="username"
                            placeholder="username"
                        />
                        <i class="info fa-solid fa-user"></i>
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> it is look good </small>
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input
                            id="password"
                            type="password"
                            name="password"
                            placeholder="Password"
                        />
                        <i class="info fa-solid fa-lock"></i>
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> it is look good </small>
                    </div>
                    <button class="btn sign btn-states">login</button>
                </form>
                <div class="or"><div class="text">or</div></div>
                <button type="button" class="login-with-google-btn btn-states">
                    <a href="/google"> Sign in with Google </a>
                </button>
                <div class="sign-up">
                    <div class="div">Don't have an account ?</div>
                    <a href="/register">Sign up</a>
                </div>
                <script src="/campgrounds/js/formValidation.js"></script>
            </section> -->
           <!-- <section class="sign register">
                <h2 class="section-title">
                    Register
                    <div class="shadow">Sign up</div>
                </h2>
                <form
                    action="/register"
                    method="POST"
                    class="form-style"
                    id="form"
                    novalidate
                >
                    <div class="field">
                        <label for="username">username</label>
                        <input id="username" type="text" name="username" />
                        <i class="info fa-solid fa-user"></i>
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> it is look good </small>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input id="email" type="text" name="email" />
                        <i class="info fa-solid fa-envelope"></i>
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> error </small>
                    </div>
                    <div class="field password">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" />
                        <i class="info fa-solid fa-lock"></i>
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> it is look good </small>
                    </div>
                    <div class="field password-check">
                        <label for="password-check">Password checked</label>
                        <input
                            id="password-check"
                            type="password"
                            name="password-check"
                        />
                        <i class="info fa-solid fa-lock"></i>
                        <i class="fa-regular fa-circle-check bass icon"></i>
                        <i
                            class="fa-regular fa-exclamation-circle error icon"
                        ></i>
                        <small> it is look good </small>
                    </div>
                    <div class="file-upload">
                        <div class="file-upload-select" id="file-select">
                            <div class="file-select-button">
                                Choose Image(s)...
                            </div>
                            <div class="file-select-name">
                                No file chosen...
                            </div>
                            <input
                                type="file"
                                name="file-upload-input"
                                id="file-upload-input"
                                multiple
                            />
                        </div>
                    </div>

                    <button class="btn sign btn-states">Sign Up</button>
                </form>
                <div class="or"><div class="text">or</div></div>
                <button type="button" class="login-with-google-btn">
                    <a href="/google"> Sign Up with Google </a>
                </button>
            </section> -->
        <section class="find">
            <h2 class="section-title">
                Find Campground 
                <div class="shadow">
                    Advanced Search
                </div>
            </h2>
            <form action="">
                <div class="find-container ">
               <div class="box">
                <div class="field rating">
                    <label for="rating"> Rating  </label>
                    <select name="rating" id="">
                        <option value="1"> one </option>
                        <option value="2"> 
                            two
                        </option>
                        <option value="3"> 
                            three
                        </option>
                        <option value="4"> 
                            four
                        </option>
                        <option value="5"> 
                            five
                        </option>
                    </select>
                </div>
                <div class="field price ">
                    <label for="price"> price </label>
                    <input type="Number" id="price" placeholder="price equal or less than ">
                </div>
               </div>
                    <div class="box">
                        <div class="field">
                            <label for="location"> location </label>
                            <input type="text"  id="location" placeholder="location">
                        </div>
                        <button class="btn btn-states"> Search </button>
                    </div>
                </div>
            </form>
        </section>
        <section class="campgrounds">
                <!--  display campgrounds -->
      <% for (let campground of campgrounds ) { %>
        <div class="campground-container">
            <div class="image">
                <img src="<%= campground.image.length > 0 ? campground.image[0].url
                : ""%>" />
            </div>
            <div class="text">
                <h3 class="title"><%= campground.title %></h3>
                <p class="description"><%- campground.description %></p>
                <p class="location">
                    <small><%= campground.location %></small>
                </p>
                <button class="btn btn-states">
                    <a href="/campgrounds/<%=campground.id %>">
                        View <%= campground.title %></a
                    >
                </button>
            </div>
        </div>
        <% }%>
        </section>
        </main>
        <footer>
            <div>Made With <span>&#10084;</span> By Mo Alfadel</div>
            <div>&COPY; YelpCamp 2023</div>
        </footer>
        <script src="js/main.js"></script>
        <script src="js/all.min.js"></script>
        <script src="js/formValidation.js"></script>
    </body>
</html>
