@use "../helpers/varibles" as *;
.campgrounds {
    .form-style {
        .field {
            margin: 0 auto;
            position: relative;
            input {
                padding-left: 35px;
            }
            .search-icon {
                // color: red;
                position: absolute;
                left: calc(25px / 2);
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .result-for {
        margin: 20px 0;
        text-align: center;
        span {
            font-weight: bold;
        }
    }
    .not-found {
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
        padding: 20px;
        .fa-solid {
            font-weight: bold;
            font-size: 3rem;
            color: var(--negative-clr);
        }
        box-shadow: $shadow;
    }
    .campground-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        @media (min-width: 420px) {
            width: 400px;
        }
        @media (min-width: 767px) {
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
        // remove this
        .image {
            img {
                display: block;
                width: 100%;
                height: 225px;
            }
        }
        .text {
            padding: 10px;
            .title {
                // font-size: 1.3rem;
                padding: 10px 0;
                color: var(--third-text-clr);
            }
            .description {
                margin-bottom: 10px;
                color: var(--text-clr);
                line-height: 1.6;
            }
            .location {
                color: var(--secund-text-clr);
            }
        }
    }
    .more-camps {
        display: flex;
        justify-content: space-around;
        align-items: center;

        margin: 50px auto 0;
        background-color: transparent;
        color: var(--main-clr);

        .icon {
            display: inline-block;
            color: var(--main-clr);
            font-size: 25px;
            width: 25px;
            height: 25px;
            padding: 5px;
            border-radius: 20px;
            background-color: var(--secund-text-clr);
            color: var(--secund-clr);
        }
        .btn {
            cursor: default;
            background-color: var(--secund-clr);
            color: var(--text-clr);
            border-radius: 50px;
        }
    }
}
