@use "../helpers/varibles" as *;
.new,
.edit {
    .field {
        margin-left: auto;
        margin-right: auto;
        position: relative;

        .icon {
            visibility: hidden;
            position: absolute;
            right: 20px;
            top: 38px;
        }
        input,
        textarea {
            padding-right: 30px;
            font-size: 16px;
        }

        small {
            visibility: hidden;
            text-transform: capitalize;
        }
        &.success {
            input,
            textarea {
                border-color: var(--positive-clr);
            }
            small {
                visibility: visible;
                color: var(--positive-clr);
            }
            .icon.bass {
                visibility: visible;
                color: var(--positive-clr);
            }
        }
        &.fail {
            input,
            textarea {
                border-color: var(--negative-clr);
            }
            small {
                visibility: visible;
                color: var(--negative-clr);
            }
            .icon.error {
                visibility: visible;
                color: var(--negative-clr);
            }
        }
    }
    .priceField {
        position: relative;
        input {
            padding-left: 30px;
        }
        &::before {
            content: "$";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 11px;
            top: 26px;
            z-index: 55;
            background-color: var(--main-clr);
            color: var(--secund-clr);
            width: 25px;
            height: 40px;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
        }
    }
    .btn {
        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
    }
}
