@use "../helpers/varibles" as *;
.new,
.edit {
    .priceField {
        position: relative;
        input {
            padding-left: 40px;
        }
        &::before {
            content: "$";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 2px;
            top: 28px;
            z-index: 55;
            background-color: var(--third-clr);
            color: var(--main-clr);
            width: 30px;
            height: 40px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
}

.edit {
    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: center;
        gap: 20px;

        .image {
            cursor: pointer;
            img {
                // height: 225px;
                // width: 100%;
                object-fit: cover;
            }
        }
    }
}
