@use "../helpers/varibles" as *;
.new,
.edit {
    .priceField {
        position: relative;
        input {
            padding-left: 30px;
        }
        &::before {
            content: "$";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            top: 26px;
            z-index: 55;
            background-color: var(--main-clr);
            color: var(--secund-clr);
            width: 25px;
            height: 42px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
}
