@use "../helpers/varibles" as *;
.show {
    @media (min-width: 762px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: calc($main-gap * 2);
    }
    .campground-container {
        border: 2px solid var(--secund-clr);
        box-shadow: $shadow;
        margin-bottom: calc($main-gap * 2);
        height: fit-content;

        img {
            display: block;
            width: 100%;
        }
        .text {
            .info {
                padding: calc($main-gap + 7px);
                .title {
                    margin-bottom: calc($main-gap + 7px);
                }
                p {
                    line-height: $line-height;
                }
            }
            .location,
            .price,
            .author,
            .links {
                border-style: solid;
                border-color: var(--secund-clr);
                border-width: 2px 0 0;
            }
            .location,
            .author,
            .price {
                padding: $main-gap calc($main-gap + 7px);
            }
            .links {
                display: flex;
                padding: calc($main-gap + 7px);
                gap: $main-gap;
                .btn {
                    margin: 0;
                }
            }
        }
    }
    .review-container {
        .add-review {
            .field {
                padding: initial;
            }
        }
        .reviews {
            .review-box {
                border: 2px solid var(--secund-clr);
                padding: $main-gap;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                line-height: $line-height;
                margin-bottom: $main-gap;
            }
        }
    }
}
