<% layout("/layouts/boilerplate") %>
<section class="new">
    <h2 class="section-title">
        Add New Campground
        <div class="shadow">Add your own campground</div>
    </h2>
    <form
        action="/campgrounds"
        method="POST"
        class="form-style"
        id="form"
        novalidate
        enctype="multipart/form-data"
    >
        <div class="field">
            <label for="title">title</label>
            <input id="title" type="text" name="campground[title]" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> it is look good </small>
        </div>
        <div class="field">
            <label for="location">location</label>
            <input id="location" type="text" name="campground[location]" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> error </small>
        </div>
        <div class="file-upload">
            <label for="file-upload-input"> images</label>
            <div class="file-upload-select" id="file-select">
                <div class="file-select-button">Choose Image(s)...</div>
                <div class="file-select-name">No file chosen...</div>
                <input
                    type="file"
                    name="campground-img"
                    id="file-upload-input"
                    multiple
                />
            </div>
        </div>
        <div class="field priceField">
            <label for="price">price</label>
            <input id="price" type="number" name="campground[price]" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> it is look good </small>
        </div>
        <div class="field">
            <label for="description">description</label>
            <textarea
                id="description"
                type="text"
                name="campground[description]"
                rows="3"
            ></textarea>
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> it is look good </small>
        </div>
        <button class="btn btn-states">Add Campground</button>
    </form>
    <script src="/campgrounds/js/formValidation.js"></script>
</section>
