<% layout("/layouts/boilerplate") %>

<section class="sign">
    <form action="/login" method="POST" class="form-style" id="form" novalidate>
        <h2>login</h2>
        <div class="field">
            <label for="username">username</label>
            <input id="username" type="text" name="username" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> it is look good </small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> it is look good </small>
        </div>
        <button class="btn sign btn-states">login</button>
    </form>
    <div class="or"><div class="text">or</div></div>
    <button type="button" class="login-with-google-btn">
        <a href="/google"> Sign in with Google </a>
    </button>
    <script src="/campgrounds/js/formValidation.js"></script>
</section>
