<% layout("/layouts/boilerplate") %>
<section class="sign">
    <form
        action="/register"
        method="POST"
        class="form-style"
        id="form"
        novalidate
    >
        <h2>Sign Up</h2>
        <div class="field">
            <label for="username">username</label>
            <input id="username" type="text" name="username" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> it is look good </small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> error </small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> it is look good </small>
        </div>
        <button class="btn sign btn-states">Sign Up</button>
    </form>
    <div class="or"><div class="text">or</div></div>
    <button type="button" class="login-with-google-btn">
        <a href="/google"> Sign Up with Google </a>
    </button>
    <script src="/campgrounds/js/formValidation.js"></script>
</section>
