<% layout("/layouts/boilerplate") %>

<section class="new">
    <form
        action="/register"
        method="POST"
        class="form-style"
        id="form"
        novalidate
    >
        <h2>Sign Up</h2>
        <div class="field">
            <label for="username">username</label>
            <input id="username" type="text" name="username" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> it is look good </small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> error </small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
            <i class="fa-regular fa-circle-check bass icon"></i>
            <i class="fa-regular fa-exclamation-circle error icon"></i>
            <small> it is look good </small>
        </div>
        <button class="btn">Sign Up</button>
    </form>
    <div class="btn google"><a href="/google"> Sign up with Google </a></div>
    <div class="btn">
        <a href="/campgrounds"> Cancel</a>
    </div>
    <script src="/campgrounds/js/formValidation.js"></script>
</section>
