@use "../helpers/varibles" as *;

/* ? start global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    font-family: "Roboto", sans-serif;
    color: var(--secund-text-clr);
    .body-container {
        transition: all 0.4s linear;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;
            transition: all 0.4s linear;
            background-image: none;
            z-index: 99;
        }
        &.blur::before {
            display: block;
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)
            );
        }
    }
}
.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 550px) {
        width: 520px;
    }
    @media (min-width: 762px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200) {
        width: 1170px;
    }
    @media (min-width: 1400) {
        width: 1320px;
    }
}
main.container {
    padding: 15px 15px 70px;
    margin-top: 70px;
    min-height: calc(100vh - 70px);
    .section-title {
        position: relative;
        padding: 0;
        margin: 30px 0;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        color: var(--secund-text-clr);
        text-align: center;

        &::before {
            width: 30px;
            height: 3px;
            display: block;
            content: "";
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--secund-text-clr);
        }
        .shadow {
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 4px;
            line-height: 1.7rem;
            padding-left: 0.25em;
            color: rgba(0, 0, 0, 0.4);
            padding-bottom: 10px;
        }
    }
}
header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        background-color: var(--main-clr);
        padding: 0 20px;
        color: var(--secund-clr);
        position: fixed;
        z-index: 343434;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        text-transform: capitalize;
        @media (min-width: 767px) {
            justify-content: start;
        }
        .logo {
            h1 {
                font-size: 1.7rem;
            }
        }
        .links-container {
            @media (min-width: 767px) {
                width: 100%;
            }
            .menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                gap: 4px;
                cursor: pointer;
                position: relative;
                @media (min-width: 767px) {
                    display: none;
                }
                span {
                    display: inline-block;
                    width: 23px;
                    height: 3px;
                    background-color: var(--secund-clr);
                    transition: ease-in-out 0.4s;
                    border-radius: 1.5px;
                }
                &.active {
                    span {
                        position: absolute;
                        right: 0;
                    }
                    span:nth-child(2) {
                        display: none;
                    }
                    span:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    span:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
            .links {
                position: absolute;
                height: calc(100vh - 70px);
                width: 230px;
                top: 70px;
                list-style-type: none;
                z-index: 8888;
                transition: left 0.4s ease-in-out;
                left: -200vh;
                background-color: rgba(26, 23, 23, 0.9);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                padding-bottom: 50px;
                &.active {
                    left: 0;
                }
                @media (min-width: 767px) {
                    flex-direction: row;
                    height: fit-content;
                    width: 100%;
                    position: relative;
                    padding-bottom: 0;
                    top: 0;
                    left: 0;
                    > div {
                        display: flex;
                    }
                }
                li {
                    padding: 20px 20px;
                    @media (min-width: 767px) {
                        padding: 5px 20px;
                        text-align: center;
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                        transition: opacity 0.4s linear;
                        &:hover,
                        &.active {
                            opacity: 0.7;
                        }

                        @media (min-width: 767px) and (max-width: 992px) {
                            font-size: 12px;
                        }
                    }
                    .icon {
                        margin-right: 5px;
                    }
                    &.logoutBtn {
                        button {
                            background-color: transparent;
                            color: inherit;
                            border: none;
                            cursor: pointer;
                            @media (min-width: 767px) and (max-width: 992px) {
                                font-size: 12px;
                            }
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn {
    margin: 10px 0;
    background-color: var(--text-clr);
    color: var(--secund-clr);
    width: fit-content;
    padding: 8px 10px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    font-weight: bold;
    border: none;
    text-transform: capitalize;
    transition: 0.4s ease-in-out;
    font-weight: initial;
    font-size: 1rem;
    // ----------------------------------
    &.danger {
        background-color: var(--negative-clr);
        color: var(--secund-clr);
    }
    &.positive {
        background-color: var(--positive-clr);
        color: var(--secund-clr);
    }

    a {
        text-decoration: none;
        color: inherit;
        font-weight: initial;
        font-size: inherit;
    }
}
.btn-states {
    transition: 0.4s ease-in-out;
    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    &:active {
        background-color: var(--third-clr);
        color: var(--main-clr);
    }

    &:focus {
        outline: none;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
            0 0 0 3px #c8dafc;
    }
    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
        cursor: not-allowed;
    }
}
.flash {
    padding: 20px;
    margin-bottom: 50px;
    color: var(--main-clr);
    position: relative;
    &.success {
        background-color: #2cf22c3e;
    }
    &.error {
        background-color: #fb001531;
    }
    box-shadow: $shadow;

    button {
        position: absolute;
        z-index: 34;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid transparent;
        transition: 0.4s ease-in-out;
        color: inherit;
        padding: 5px;
        &:hover {
            border: 1px solid var(--text-clr);
        }
    }
}
footer {
    height: 90px;
    background-color: var(--text-clr);
    padding: 20px 0;
    color: var(--secund-clr);
    line-height: 1.6;
    div {
        text-align: center;
    }
}
.form-style {
    padding: 10px 5px;
    margin: 0 auto;
    .field {
        margin: 15px auto;
        position: relative;
        max-width: 450px;
        label {
            display: block;
            text-transform: capitalize;
            margin-bottom: 7px;
        }
        input,
        textarea {
            display: block;
            font-size: 16px;
            width: 100%;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 30px;
            padding-left: 13px;
            background-color: var(--secund-clr);
            transition: 0.4s ease-in-out;
            border: 2px solid transparent;
            border-radius: 20px;
            line-height: 1.6;
            &:focus {
                outline: none;
                border: 2px solid var(--text-clr);
            }
        }
        .icon {
            visibility: hidden;
            position: absolute;
            right: 13px;
            top: 38px;
        }

        small {
            visibility: hidden;
            text-transform: capitalize;
        }

        &.success {
            input,
            textarea {
                border-color: var(--positive-clr);
            }
            small {
                visibility: visible;
                color: var(--positive-clr);
            }
            .icon.bass {
                visibility: visible;
                color: var(--positive-clr);
            }
        }
        &.fail {
            input,
            textarea {
                border-color: var(--negative-clr);
            }
            small {
                visibility: visible;
                color: var(--negative-clr);
            }
            .icon.error {
                visibility: visible;
                color: var(--negative-clr);
            }
        }
    }
    .file-upload {
        margin: 15px auto 30px;
        max-width: 450px;
        label {
            margin-bottom: 7px;
            display: block;
        }
        .file-upload-select {
            display: block;
            cursor: pointer;
            text-align: left;
            background-color: var(--secund-clr);
            overflow: hidden;
            color: var(--text-clr);
            border-radius: 30px;
            position: relative;

            .file-select-button {
                background: var(--third-clr);
                color: var(--main-clr);
                padding: 12px;
                display: inline-block;
            }
            .file-select-name {
                display: inline-block;
                padding-top: 12px;
                padding-bottom: 12px;
            }
            &:hover .file-select-button {
                background: var(--text-clr);
                color: var(--secund-clr);
                transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
            }
            input[type="file"] {
                display: none;
            }
        }
    }
    .btn {
        margin-left: auto;
        margin-right: auto;
    }
}
.slider {
    width: 100%;
    height: 225px;
    position: relative;
    overflow: hidden; /* <===  */
    // border-radius: 15px;
    .slide {
        width: 100%;
        max-width: 800px;
        position: absolute;
        transition: all 0.5s;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .slider-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 50%;
        z-index: 10px;
        cursor: pointer;
        background-color: transparent;
        color: var(--secund-clr);
        font-size: 18px;
        top: 50%;
        transform: translateY(-50%);
        &:active {
            transform: translateY(-50%) scale(1.1);
        }
        &.btn-prev {
            left: 2%;
        }
        &.btn-next {
            right: 2%;
        }
    }
}

/* ! end global */
